<div class="loggedin-container">
    <h2>Welcome, {{first_name}}!</h2>
    <p>You have successfully logged in with your account.</p>

    <!-- Botones de navegación -->
    <div class="nav-buttons">
        <a href="/hbs/products" class="nav-button">Products</a>
        <a href="/hbs/profile" class="nav-button">Profile</a>
        <a href="/hbs/cart" class="nav-button">Shopping Cart</a>
        <a href="/api/v1/user/logout" class="nav-button logout-button">Logout</a>
    </div>
</div>