<div class="profile-container">
    <h2>User Profile</h2>

    <div class="profile-info">
        <div class="form-group">
            <label for="first_name">Name</label>
            <input type="text" id="first_name" name="first_name" value="{{first_name}}" readonly>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" value="{{last_name}}" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{email}}" readonly>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" value="{{age}}" readonly>
        </div>
    </div>

    <!-- Botones de navegación -->
    <div class="nav-buttons">
        <a href="/hbs/products" class="nav-button">Products</a>
        <a href="/hbs/cart" class="nav-button">Shopping Cart</a>
        <a href="/api/v1/user/logout" class="nav-button logout-button">Logout</a>
    </div>
</div>